<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for emp in emps %}
    <ul>
        <li><a href="{% url 'core:redirect' id=emp.id %}">{{emp.id}}</a></li>

        <li>name:-{{emp.name}}</li>
        <li>counter:-{{emp.counter}}</li>
    </ul>
    {% endfor %}
</body>
</html>
